* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

/*Landing Page*/
#jumbotron-main-wrapper {
	background: transparent;
	padding-top: 5rem;
	font-family: 'Roboto', sans-serif;
}

#landing-bg {
	height: 100vh;
	background:
	linear-gradient(
		rgba(0,0,0,0.50),
		rgba(0,0,0, 0.50)
		),
	url(./images/landing-bg.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	border-radius: 0;
}

.logo-div {
	text-align: center;
}

.logo-landing {
	width: 200px;
	height: 200px;
}

#wanderer {
	color: #fff;
}

#question {
	color: #fff;
	font-size: 25px;
}

.btn a {
	text-decoration: none;
}
/*End of Landing Page*/

/*Scroll to Top*/
.scrollTop {
	position: fixed;
	bottom: 800px;
	right: 30px;
	width: 60px;
	height: 60px;
	background: #fff url(./images/scroll-up.png);
	border-radius: 50%;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 100000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.scrollTop.active {
	bottom: 40px;
	visibility: visible;
	opacity: 1;
}
/*End of Scroll to Top*/

/*Background*/
body {
	height: 100vh;
	background:
	linear-gradient(
		rgba(0,0,0,0.60),
		rgba(0,0,0,0.60)
		),
	/* url(./images/home-bg.jpeg); */
	url("https://images.pexels.com/photos/698513/pexels-photo-698513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*End of Background*/

/*Navbar*/
#logo {
	width: 42px;
	height: 38px;
	position: relative;
	bottom: 5px;
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
	font-weight: bold;
	color: #000;
}

.nav-link {
	font-size: 1.1em !important;
}
/*End of Navbar*/

/*Carousel*/
.carousel {
	width: 100%;
	margin: auto;
}

.carousel-item img {
	width: 100%;
	margin: auto;
}

.carousel-inner > .item > img {
	width: 100%;
	margin: auto;
}

.carousel-caption h1 {
	font-family: 'Roboto', sans-serif;
	text-shadow: 8px 3px 7px #000;
}
/*End of Carousel*/

#title {
    position: absolute;
    bottom: 420px;
    width: 97.5%;
    color: #fff;
    text-shadow: 5px 0px 3px #000;
    font-size: 58px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.jumbotron {
	background: #fff;
	padding: 1rem;
	border-radius: 0;
	color: #000;
}

h1.mabuhay {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.padding {
	padding-bottom: 1rem;
}

.tours {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

/* Tour Cards */

.card-text-tours {
	font-size: 14px;
}

.see-offer {
	margin-top: 0.7em;
}

/*Our Team*/
.theteam {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

small {
    display: block;
    text-align: center;
    padding-bottom: 7px;
    font-style: italic;
}

.team-card {
	height: 500px !important;
}

.team-info {
	font-size: 13px;
	text-align: left;
}
/*End of Our Team*/

.card {
	color: #000;
	height: 560px;
}

.card-body p {
	color: #000;
}

h2 {
	color: #000;
	font-size: 18px;
}

hr {
	visibility: hidden;
}

.container-fluid p {
	font-size: 24px;
}

.display-4 {
    font-size: 3rem;
    font-weight: 450;
    line-height: 1.2;
    letter-spacing: 1px;
}

.intro {
	margin-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.submit-btn {
	width: 10em;
}

#gmap {
	width: 100%;
	display: block;
}

.gmap-address {
	font-size: 13.5px !important;
}

.social a {
	font-size: 4.5em;
	padding: 0.5rem;
}

.fa-facebook {
	color: #1877f2;
}

.fa-twitter {
	color: #1da1f2;
}

.fa-instagram {
	color: #3f729b;
}

.fa-linkedin {
	color: #777777;
}

.fa-youtube {
	color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-youtube:hover {
	color: #fff;
}

.footer p {
	font-size: 10px;
}

.footer a {
	text-decoration: underline;
}

/*Media Queries*/

/*Mobile*/
@media (min-width: 400px) and (max-width: 576px) {

	.scrollTop {
		right: 10px;
	}

	.intro {
	    padding-left: 20px;
    	padding-right: 20px;
	}

	.card {
	    color: #000;
	    height: 510px !important;
	    margin-bottom: 1rem;
	}

	.card-body p {
	    color: #000;
	    text-align: center !important;
	}
	
	.card-img-top {
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    width: 100%;
	    height: 50%;
	}

	.carousel {
		width: 100%;
		margin: auto;
	}

	.carousel-item img {
		width: 100%;
		margin: auto;
	}

	.carousel-inner > .item > img {
		width: 100%;
		margin: auto;
	}

	.carousel-caption {
		bottom: -10px;
	}

	.carousel-caption h1 {
		font-size: 150%;
	}

	.carousel-indicators {
		display: none;
	}

	.container-fluid p {
		font-size: 16px;
		text-align: justify;
	}

	.display-4 {
	    font-size: 2.5rem;
	    font-weight: 450;
	    line-height: 1.2;
	    letter-spacing: 1px;
	}

	h1.mabuhay {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		padding-top: 2px;
	}

	.card {
    	color: #000;
   		height: 460px;
    	margin-top: 0 !important;
	}

	.mission,
	.vision {
		text-align: justify;
	}

	.team-card {
    	color: #000;
    	height: 440px !important;
	}

	.team-img {
		object-fit: contain;
	}

	.theteam {
    	margin: 0 auto;
    	padding-top: 0rem;
	}

	.tours {
    	margin: 0 auto;
   		padding-top: 0rem;
	}

	.gmap-address {
	    font-size: 13.5px !important;
	    text-align: center !important;
	}

	.social a {
    font-size: 3em;
	}

}

/*Tablet*/
@media (min-width: 768px) {

	.scrollTop {
		right: 15px;
	}

	.container-fluid p {
 	   font-size: 130%;
    	text-align: justify;
	}

	.carousel {
		width: 100%;
		margin: auto;
	}

	.carousel-item img {
		width: 100%;
		margin: auto;
	}

	.carousel-inner > .item > img {
		width: 100%;
		margin: auto;
	}

	.carousel-caption h1 {
    	font-family: 'Roboto', sans-serif;
    	text-shadow: 8px 3px 7px #000;
    	font-size: 200%;
	}

	h1.mabuhay {
    	font-weight: bold;
    	font-family: 'Roboto', sans-serif;
    	font-size: 192%;
	}

	.mission,
	.vision {
		font-size: 121%;
    	text-align: justify;
	}

	.gmap-address {
	    text-align: center !important;
	    font-size: 14px !important;
	}

	.social a {
 	   font-size: 4.5em;
    	padding: 0.7rem;
	}

}

/*Desktop*/
@media (min-width: 992px) {

	.carousel {
		width: 100%;
		margin: auto;
	}

	.carousel-item img {
		width: 100%;
		margin: auto;
	}

	.carousel-inner > .item > img {
		width: 100%;
		margin: auto;
	}

	.social a {
		font-size: 4em;
		padding: 2rem;
	}

}

